path {
  stroke: white;
  fill: url(#gradient-svg);
  cursor: pointer;

}
path:hover {
  fill: #4B7417;
  transition: fill 0.2s;
}
ul li {
  padding: 10px;
}

ul li a:hover {
  text-decoration: underline dotted;

}

#tooltip {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#tooltip:not(.hidden) {
  opacity: 1;
  visibility: visible;
}
